// Fonts
// ---------
$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-popup-primary: "ProximaNova-Bold", sans-serif;
$font-popup-secondary: "ProximaNova-Light", sans-serif;

// Colors
// ----------
$bg-color: #0B1D26;
$brand-color: #9333EA;
$brand-color-light: #A855F7;
$brand-color-lighter: #C084FC;
$text-color-primary: #F9FAFB;
$text-color-secondary: #E4E4E7;
