// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Settings
@import 'settings';

// Variables
@import 'variables';

// Foundation
@import 'foundation-sites/scss/foundation';
//@include foundation-everything();

// Motion UI
//@import 'motion-ui/motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-typography;

// Grids (choose one)
//@include foundation-xy-grid-classes;

// Generic components
@include foundation-button;
@include foundation-close-button;

// Containers
//@include foundation-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-top-bar;

// Motion UI
//@include motion-ui-transitions;
//@include motion-ui-animations;

//body {
  //background: url(../images/bg/bg-image.jpg) center center no-repeat;
//}

.test {
  color: rgba(3, 3, 136, 0.902);
  @include xy-grid-container;

    &__first {
        @include xy-cell(6);
	    padding: 20px 0;
        font-size: 5rem;
        color: rgb(3, 209, 40)!important;
        text-align: center!important;
    }
}

//* --------------
//  icon-hamburger
//  -------------- */
.icon-hamburger {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 22px;
    cursor: pointer;
    stroke: $brand-color;
    stroke-width: 2px;

    &:hover,
    &:focus {
      stroke: $brand-color-lighter;
      filter: drop-shadow(0.15rem 0.15rem 0.6rem $brand-color);
    }
}
